@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  color: #616669;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.8em;
  overflow-x: hidden;
}
.navbar-nav {
  margin-left: auto;
}
section#top {
  background-color: #482019;
  width: 100%;
  z-index: 9;
  padding: 0;
}
a.nav-link.active {
  color: #482019 !important;
}
section#hero-section h2,
section#hero-section p {
  color: #fff;
  margin: 0;
}
section#top img {
  width: 100%;
}

.img-top-wrapper img {
  max-height: 600px;
  object-fit: contain;
}

.content .btn {
  margin-top: 30px;
  background: #114db3;
}

.content h2 {
  padding-bottom: 30px;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
}

.content {
  padding-top: 100px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

h2.section-title {
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #00366e;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.feature-content p {
  color: #000;
  font-weight: 300;
}

.feature-content .fa {
  font-size: 48px;
  color: #1080f2;
  margin-bottom: 15px;
}

.feature-content {
  text-align: center;
}

section {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #f6f6f6;
}

section#hero-section {
  background: #482019;
  padding: 0;
}
nav.navbar.navbar-expand-lg {
  box-shadow: unset !important;
  padding: 0;
}
.img-top-wrapper img {
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 -3px 12px rgba(0, 0, 0, 0.22);
}

.img-top-wrapper img:last-child {
  position: absolute;
  bottom: -30px;
  right: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.img-top-wrapper img:first-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.img-top-wrapper {
  position: relative;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.feature-one-content ul {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-one-content ul {
  padding-left: 0;
  list-style: none;
}

.feature-one-content {
  text-align: left;
}

.feature-one-content .fas {
  background: #844236;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
}

.feature-one-img img {
  object-fit: contain;
  height: 550px;
}

section#features i.fas {
  color: #844236;
}

section#shadow-host-companion {
  margin: 0;
  padding: 0;
}

section#grow-your-business img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.grow-business-item {
  margin-bottom: 20px;
}

section#grow-your-business {
  background: #f8f8f8;
}

.feature-content .fa {
  color: #1080f2;
}

section.py-5.bg-light {
  background: #fff !important;
}

section#contactus {
  background: #00366e !important;
}

#features .card.feature-content {
  border-radius: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.p-s-t {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #00366e;
}
section#top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(image/Path-4.svg);
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-size: contain;
}
section#top img {
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 600px) {
  .content h2 {
    font-size: 24px;
  }

  section#hero-section {
    padding-top: 29px;
    margin-top: -100px;
  }

  .img-top-wrapper img {
    width: 100%;
  }

  .img-top-wrapper {
    margin-top: 30px;
  }

  .img-top-wrapper img:last-child {
    display: none;
  }

  section#features .col-md-4 {
    margin-bottom: 20px;
  }

  .feature-one-img img {
    width: 100%;
    height: unset;
  }

  .feature-one-img img:last-child {
    display: none;
  }
}

section#features i.fas {
  font-size: 38px;

  margin-bottom: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h1.handline,
h1.handline span {
  text-transform: capitalize;
  color: #ffff;
  font-weight: 600;
  z-index: 999;
  position: relative;
  font-size: 4.5rem;
  line-height: 1.1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}
.area__subtitle {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #844236;
  display: inline-block;
  margin: 0px 0px 15px 0px;
  padding: 5px 10px 5px 10px;
  line-height: 1;
  position: relative;
  width: 138px;
  display: inline-block;
  z-index: 99;
  position: relative;
  text-align: center;
}
.area__subtitle:before,
.area__subtitle:after {
  content: "";
  display: block;
  position: relative;
  position: absolute;
  top: 9px;
  right: 14px;
}
.area__subtitle:before,
.area__subtitle:after {
  content: "";
  display: block;
  position: relative;
  position: absolute;
  top: 9px;
  right: 14px;
}
section#top img {
  width: 109px;
  filter: brightness(0) invert(1);
  /* position: fixed; */
  top: 0;
}
section {
  background-color: unset;
}
.sliderContent {
  margin-top: 54px;
}
.sliderContent p {
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0 40px 0;
  color: #606060 !important;
  margin-bottom: 22px !important;
  display: block;
}
.btn-box a {
  background: #482019;
  display: block;
  width: 151px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
li.nav-item a {
  padding: 20px 28px !important;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 15px;
  font-family: Poppins, sans-serif;
}
.img-top-wrapper img {
  border-radius: 10px !important;
  overflow: hidden;
}

h2.handline {
  text-transform: capitalize;
  color: #0f0504;
  font-weight: 600;
  font-size: clamp(27px, 5vw, 52px);
  line-height: clamp(37px, 6vw, 62px);
}
.sectionTitle {
  margin-bottom: 40px;
}
.feature-content h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #844236;
}
p {
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 26px;
}

.img-top-wrapper {
  position: relative;
  margin-bottom: 64px;
}
.feature-one-img img {
  border-radius: 10px;
}

.appBtn {
  display: flex;
  justify-content: space-between;
}
.appImg.mr-2 {
  margin-right: 11px;
}
section#appBg {
  background-image: url(image/bgImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
section#appBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000ba;
}
section#appBg h2.handline {
  color: white;
}
img.img-fluid.surprise-img {
  margin-bottom: -116px;
}
section#appBg .area__subtitle {
  width: 196px;
  text-align: center;
}
.appImg img {
  border-radius: 14px;
}
div#sliderHome .appImg {
  width: 271px;
}
div#sliderHome {
  justify-content: start;
}
#testimonial .card-body {
  text-align: center;
  padding: 78px;
}
#testimonial .card {
  border: 1px solid rgba(11, 22, 63, 0.12);
  margin: 11px;
}
i.fas.fa-star {
  color: #844236;
}
section#grow-your-business {
  background: #f1f8fb;
}
footer.blockquote-footer {
  font-weight: 600;
}
.sliderContent p.about-website {
  color: #ffc9bf !important;
}
.sliderContent .area__subtitle {
  margin-bottom: 27px;
}

#counter .item .count {
  color: #844236;
  margin-bottom: 5px;
  font-size: 40px;
}
div#counter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
#counter .item h3 {
  color: #1e1e1e;
  text-transform: capitalize;
  font-weight: 300;
}
#counter .item .count {
  color: #844236;
  margin-bottom: 5px;
  font-size: 43px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.sliderImgApp img {
  width: 83%;
  z-index: 9;
}
.sliderImgApp {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img-fluid.surprise-img {
  margin-bottom: -365px;
  width: 77%;
}

section#appBg {
  overflow: hidden;
}
.imgFeaures img {
  width: 81px !important;
  margin: 18px 0;
}
section#features {
  padding-top: 0;
}

.feature-one-content li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: center;
  width: 19%;
  border-radius: 10px;
  padding: 44px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section#features-one {
  position: relative;
}
section#features-one::before {
  background: #844236;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57%;
}
.imgFeaures img {
  width: 94px !important;
}
section#features-one .area__subtitle {
  background: #ef6a52;
  border-radius: 3px;
}
.number {
  background: white;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  text-align: center;
  line-height: 55px;
  color: #844236;
  margin-top: -68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number b {
  background: white;
  width: 38px;
  height: 38px;
  border-radius: 100px;
  text-align: center;
  line-height: 10px;
  color: #844236;
  border: 3px solid #844236;
  padding: 10px;
  display: block;
  font-weight: 700;
}
.feature-one-content h4 {
  color: #0f0504;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
section#testimonial {
  position: relative;
}
section#testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #844236;
  width: 50%;
  height: 100%;
  border-top-right-radius: 191px;
}
img.spapImg {
  margin-top: -127px;
}
h1.handline,
h1.handline span {
  text-transform: capitalize;
  color: #ffff;
  font-weight: 600;
  z-index: 999;
  position: relative;
  font-size: clamp(30px, 5vw, 72px);
  line-height: clamp(40px, 6vw, 84px);
}
#testimonial .card-body {
  text-align: left;
  padding: unset;
}
section#features .card-body {
  min-height: 273px;
}
section#grow-your-business .feature-content .card-body {
  min-height: 214px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#testimonial .card {
  border: 0;
  box-shadow: unset;
  margin: unset;
}
#testimonial .card {
  border: 1px solid rgba(11, 22, 63, 0.12) !important;
  margin: 11px !important;
  padding: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonial .card-body {
  text-align: center;
}
.testImg img {
  width: 78px;
}

.item {
  background: white;
  width: 32%;
  border-radius: 10px;
  padding: 15px;
}
#counter .item h3 {
  color: #1e1e1e;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 22px;
}
section.footer_left::before {
  right: 17%;
}
section.footer_left::after,
section.footer_left::before {
  width: 29%;
  height: 1px;
  top: 61%;
  content: "";
  position: absolute;
  background: #844236;
}
.footer_img_logo.text-center img {
  width: 100px;
}
section.footer_left::after {
  left: 16%;
}
section.footer_left::after,
section.footer_left::before {
  width: 29%;
  height: 1px;
  top: 61%;
}
i.icon_footer {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
footer#footer_button a.pr-2 {
  background: #844236;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  color: white;
  border-radius: 4px;
  margin-right: 11px;
}
.company_name.text-lg-right.text-center a {
  color: #844236;
  font-weight: 700;
}
section#testimonial {
  position: relative;
  overflow: hidden;
}
div#testimonialCarousel {
  height: 387px !important;
  overflow: hidden !important;
}
li.nav-item a:hover {
  color: #fab2a6;
}
section#testimonial .area__subtitle {
  background: #b15e4f;
}
section#contactUs .card-header.bg-primary.text-white.text-center {
    background: #482019 ! IMPORTANT;
}
@media screen and (min-width: 767px) {
    div#sideBar {
        display: none;
    }
    .menu-btn.block {
        display: none;
    }
}
@media screen and (max-width: 767px) {
  img.spapImg {
    margin-top: -53px;
  }
  .feature-one-content li {
    width: 100%;
  }
  .sliderContent {
    margin-top: 76px;
  }
  .sliderImgApp img {
    width: 73%;
    z-index: 9;
    margin-top: 22px;
  }
  .sectionTitle {
    margin-bottom: 18px;
  }
  .feature-content h5 {
    font-size: 21px;

    margin-bottom: 10px;

    line-height: 30px;
  }
  img.img-fluid.surprise-img {
    display: none;
  }
  section {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .appImg img {
    border-radius: 7px;
  }
  section#grow-your-business .feature-content .card-body {
    min-height: unset;
  }
  .feature-content p {
    margin-bottom: 0;
  }
  .feature-one-content li {
    width: 100%;
    margin-bottom: 36px;
  }
  .feature-one-content h4 {
    margin-bottom: 0;
  }
  .imgFeaures img {
    width: 65px !important;
  }
  section#testimonial::before {
    width: 100%;

    border-top-right-radius: 0;
  }
  div#testimonialCarousel {
    height: 477px !important;
    overflow: hidden !important;
  }
  section.footer_left::before {
    right: 6%;
  }
  section.footer_left::after {
    left: 5%;
  }
  footer#footer_button p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
    /* mobile menu start */
    ul.menu_ul.d-flex.justify-content-end.align-items-center.w-100.p-0 {
        display: none !important;
      }
      .side-bar {
        background: #ffffff;
        backdrop-filter: blur(15px);
        width: 300px;
        height: 100%;
        top: 0;
        left: -300px;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
      }
      .side-bar::-webkit-scrollbar {
        width: 0px;
      }
      .side-bar.active {
        left: 0;
        position: fixed;
        z-index: 999999;
      }
      .side-bar .menu_mobile {
        width: 100%;
        margin-top: 30px;
        z-index: 99999999;
      }
      .side-bar .menu_mobile .item a {
        display: block;
        padding: 5px 30px;
        line-height: 40px;
        font-weight: 700;
        font-size: 18px;
      }
      .side-bar .menu_mobile .item a:hover {
        background: #482019;
        transition: 0.3s ease;
        color: white !important;
      }
      .side-bar .menu_mobile .item i {
        margin-right: 15px;
      }
      .side-bar .menu_mobile .item a .dropdown {
        position: absolute;
        right: 0;
        margin: 9px 20px;
        transition: 0.3s ease;
      }
      .menu-btn i.fas.fa-bars {
        color: #088738;
      }
      .side-bar .menu_mobile .item .sub-menu {
        background: white;
        display: none;
      }
      .side-bar .menu_mobile .item .sub-menu a {
        padding-left: 31px;
        color: black;
        font-weight: bold;
      }
      .rotate {
        transform: rotate(90deg);
      }
      .close-btn {
        position: absolute;
        font-size: 23px;
        right: 0px;
        margin: 15px;
        cursor: pointer;
      }
      .menu-btn,
      .side-bar {
        z-index: 99;
        position: fixed;
      }
      .menu-btn {
        right: 18px;
        top: 27px;
        font-size: 33px;
        color: white;
        z-index: 999999;
        background: #f59d8e;
        position: fixed;
        height: 50px;
        line-height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 6px;
      }
      .menu_mobile .item a,
      .side-bar i.fa {
        color: #482019;
      }
      nav.navbar {
        position: relative;
      }
      nav.nav.navbar.sticky-bar {
        background: white;
      }
      nav.nav.navbar.sticky-bar .navbar-logo img {
        width: 200px;
        height: 81px;
      }
      .slider_content h1 {
        font-size: 40px;
        line-height: 50px;
      }
      .slider_content {
        width: 70%;
      }
      div#sideBar .item {
        background: unset;
        width: unset;
        padding: unset;
        border-radius: unset;
    }
    nav.navbar.navbar-expand-lg {

        margin-top: -10px;
    }
    section#top img {
        width: 109px;
        filter: unset;
        position: relative;
        top: 0;
    }
    
    section#top img {
        filter: url();
    }
    
      /* mobile menu end */
      section#top::before{
        display: none;
      }
      section#contactUs {
        padding-top: 47px !important;
    }
    
    
}
img#contactImg {
    position: fixed;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
  ::-webkit-scrollbar-thumb {
    background: #c75a47;
  }